.nfs*
*.ipynb
training_visualizations/logs/*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
training_visualizations/logs
runs/
.run
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
.idea/
output
output_server
scripts.bash
checkpoints